
/* ========================================
navbar
======================================== */


.navbar>.container{
  margin-top: 2rem;
}
.NAVBAR{
  color: aliceblue;
}

nav.navbar.navbar-expand-lg.Navbar {
  width: 88%;
}
a.nav-link.active.nav1 {
  text-align: center;
  width: 6rem;
  color: rgb(180, 180, 180);
  font-size: 1.2rem;
}
a.nav-link.active.nav1:hover{
  color: aliceblue;
}
a.navbar-brand {
  margin-right: 59%;
}
span.navbar-toggler-icon {
  color: rgb(180, 180, 180);
}
.nav-logo{
  color: aliceblue;
}
.nav-icon{
  color: rgb(180, 180, 180);
}
.nav-icon:hover{
  border-radius: 100%;
  box-shadow: 0 0 2rem 0.1rem rgb(165, 165, 165);

}
.nav-link:hover{
  border-style: none;
  border-radius:10%;
  color: aliceblue;
  background-color: black;
  box-shadow: 0 0 2rem 0.1rem rgb(165, 165, 165);
}

@media(max-width:430px){
  .me-auto{
    float: right;
  }
  .navbar>.container{
    margin-top: 0.5rem;
  }
  a.nav-link.active.nav1 {
    text-align: center;
    width: 4rem;
    color: rgb(180, 180, 180);
    font-size: 1rem;
  }
  /* .nav.navbar.navbar-expand-lg.Navbar {
    width: 100%;
    margin-left: 0;
    margin-top: 0rem;
    font-size: 2rem;
  }
  .nav-link.active.nav1 {
    text-align: center;
    float: right;
    width: 6rem;
    color: rgb(180, 180, 180);
    font-size: 0.8rem;
  } */

} 

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1320px;
  margin-top: 2rem;
}


/* ========================================== */
.profile{
  width: 3rem;
}
.link{
  text-align: center;
}
.brand{
  margin-right: 50%;
} 
/* .welcome:hover{
  box-shadow:0 0 0.2rem 0.1rem #3f3f3f;
  background-color: #3f3f3f;
} */
.hello{
  padding-left: 15rem; 
  padding-top: 1.5rem; 
  font-size: 5rem;
  font-weight: bold;
}

/* .im{
  font-size: 5rem;
  margin-bottom: 0%;
} */
.im{
  font-size: 4rem;
  margin-top: 0%;
}
.sharath{
  font-size: 4rem;
  margin-top: 0%;
}
.type{
  font-size: 3rem;
  /* color: aliceblue; */
  color: rgb(165, 165, 165);
}
.colored-line{
  height: 0;
  border-style: double;
  border-width: 0.3rem;
  border-bottom:0;
  border-color: white;
  margin: 3rem 30% 3rem 30%
}
.carousel{
  float: left;
  height: 20rem;
  width: 100%;
  text-align: center;
  color: rgb(165, 165, 165);
}
.header{
  font-family: 'Montserrat Alternates', sans-serif;
  z-index: 0;
  color: aliceblue;
  margin-bottom: 0;
  /* color: rgb(165, 165, 165); */
} 

.carousel-control-next-icon{
  display: none;
}
.body p{
  margin: 5rem auto 5rem auto;
}
.body{
  color: rgb(165, 165, 165);
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
@media(max-width:430px){
  .hello{
    text-align: center;
    padding-left: 0rem; 
    padding-top: 0rem; 
    font-size: 3rem;
    font-weight: bold;
  }
  .sharath{
    font-size: 4rem;
    margin-top: 0%;
    text-align: left;
    margin-left: 2.8rem;
  }
  .type{
    font-size: 1.5rem;
    text-align: center;
    color: rgb(165, 165, 165);
  }
  .colored-line{
    height: 0;
    border-style: double;
    border-width: 0.3rem;
    border-bottom:0;
    border-color: white;
    margin: 8rem 30% 8rem 30%
  }
  .carousel{
    float: left;
    height: 20rem;
    width: 100%;
    text-align: center;
    color: rgb(165, 165, 165);
  }
  .body p{
    margin: 0 0 0 0;
  }
  .body{
    color: rgb(165, 165, 165);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5rem;
  }
}


/* --------- */
/* Footer */
/* --------- */

.footer {
  background-color: transparent;
 
  /* background-color: transparent ; */
  bottom: 1% !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}

.footer-copywright {
  text-align: center !important;
}
.footer:hover{
box-shadow:0 0 1rem 0.1rem rgb(165, 165, 165);
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}
.footer h3 {
  font-size: 1rem;
  color: rgb(238, 244, 245) !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.footer-icons {
  text-align: center;
  list-style: none;
  font-size: 1rem;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
  
}
.footer-icons li{
  text-align: center;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
  text-transform: scale(1.05);
  text-shadow: #14dfc1;
}

.blockquote-footer {
  color: #000000 !important;
}
@media(max-width: 430px){
  .footer h3 {
    font-size: 0.6rem;
    color: rgb(238, 244, 245) !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .footer-icons {
    text-align: center;
    list-style: none;
    font-size: 0.6rem;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
  }
  
.footer-copywright {
  margin: 0 0 0 0;
  text-align: center !important;
}
}


/* ======================
contactme
======================
 */
.connect{
  margin-top: 8rem;
}
@media screen and (max-width: 767px) {
  .connect{
    margin-top: 0;
  }
  .connect h2{
    
    color: #ffffff;
  }
  .icon-connect{
    margin: 1rem;
    border-radius: 100%;
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
  }
}

.connect{
  text-align: center;
  margin-bottom: 7%;
  font-family: 'Montserrat Alternates', sans-serif;
}
.connect h2{
  color: rgb(165, 165, 165);
  font-size: 1.7rem;
}
.connect b{
  color:aliceblue;
}
.icon-connect{
  margin: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 100%;
}

.icon-logo:hover{
  border-radius: 100%;
  box-shadow: 0 0 2rem 0.5rem rgb(165, 165, 165);
} 

.about{
  z-index: 0;
  color: aliceblue;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2.5rem;
  padding-left: 5%;
  margin-bottom: 10%;
}

.great{
  margin-top: 0rem;
  margin-bottom: 2rem;
  text-align: center;
}
.about-body{
  font-size: 1.35rem;
  padding-left: 1rem;
  text-align: justify;
  color: rgb(165,165,165);
}
img{
  width: 70%;
  margin: 20% 10% 10% 20%;
}

@media(max-width: 430px){
  .about{
    z-index: 0;
    padding-left: 0;
    color: aliceblue;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10%;
  }
  .about-body{
    padding-left: 0;
    font-size: 1rem;
    text-align: justify;
    color: rgb(165,165,165);
  }
  .great{
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .about-body p{
    font-size: 1.3rem;
    margin: 2rem 1rem 0 1rem;
    text-align: justify;
    color: rgb(165,165,165);
  }
  img{
    width: 80%;
    margin: 20% 10% 20% 10%;
  }
}
/* Techskills */
/* 
.TechSkills{
  margin-top: 5%;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  color: aliceblue;
  text-align: center;
}
.TechSkills h1{
  font-size: 2.5rem;
}
.TechSkills b{
  color: #57c5b6;
} */
/* Tech-icons */


.tech-icons {
  color: aliceblue;
  font-size: 5rem !important;
  margin: 1.5rem !important;
  padding: 0 !important;
  opacity: 100% !important;
  border: 0 solid rgb(0, 0, 0) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 10% !important;
  display: table !important;
  /* box-shadow: 4px 5px 4px 3px rgb(89, 195, 244) !important; */
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

.tech-icons:hover{
  box-shadow: 0 0 1rem 0.2rem rgb(167, 167, 167) !important;
}

.tech{
  text-align: center;
  font-size: 3rem;
  color: rgb(180, 180, 180);
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
  .tech-icons {
    color: aliceblue;
    font-size: 5rem !important;
    margin: 1.5rem !important;
    padding: 0 !important;
    opacity: 100% !important;
    border: 0 solid rgb(0, 0, 0) !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 10% !important;
    display: table !important;
    /* box-shadow: 4px 5px 4px 3px rgb(89, 195, 244) !important; */
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important;
  }
  .tech{
    text-align: center;
    font-size: 1.5rem;
    color: rgb(180, 180, 180);
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 3rem;
  }
  
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgb(255, 255, 255) !important;
}
.tech-icon-images {
  padding: 1rem !important;
  line-height: 1.6 !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}

.resume-section{
  z-index: 0;
  margin-top: 1.7rem;
  margin-bottom: 4rem;
}
.resume-section h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #ffffff;
}
.resume-section b{
  color: #ffffff;
}
@media (max-width: 767px) {
  .resume-section h1{
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
  }
}
.resume-section .btn-primary{
  border: #000000;
  background-image:linear-gradient(to right,rgb(34, 34, 34), #7a7a7a,rgb(34, 34, 34)) ;
}
.resume{
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.resume-section .btn-primary:hover{
  box-shadow: 0 0 1rem 0.1rem rgb(255, 255, 255);
}

.react-pdf__Page__canvas:hover{
  box-shadow: 0 0 2rem 0.2rem rgb(165, 165, 165);
}

.feedback{
  text-align: center;
  color: rgb(169, 169, 169);
  font-family: 'Montserrat Alternates', sans-serif;
margin-top: 4rem;
}
.feedback .feed-icons{
  font-size: 3rem;
}
.feedback h1{
  color: aliceblue;
  margin-bottom: 3rem;
  /* color: rgb(165, 165, 165); */
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
}
.feedback h2{
  margin-bottom: 3rem;
  margin-top: 3.5rem;
  font-weight: 600;
  color: aliceblue;
}
.feedback p{
  font-size: 1.5rem;
  /* font-weight: 500; */
}
.feedback p:hover{
  color:rgb(255, 255, 255);
}
.feedback b{
  color: #ffffff;
}

.btn-feed{
  border-width: 0;
  border-color: transparent;
  margin-bottom: 0rem;
}
.btn-feed:hover{
  border-width: 0;
  border-color: transparent;
  box-shadow: 0 0 2rem 0.2rem rgb(165, 165, 165);
}
.feedback-btn .btn{
  width:fit-content;
  background-color: transparent;
  border-color: transparent;
  background-image:linear-gradient(to right,rgb(34, 34, 34), #7a7a7a,rgb(34, 34, 34)) ;

}
@media screen and (max-width: 767px) {
  .feedback p{
    font-size: 1.1rem; 
    text-align: center;
    margin: 0 1rem 0 1rem;  
  }
  .feedback h1{
    color: aliceblue;
    margin-bottom: 3rem;
    /* color: rgb(165, 165, 165); */
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
  }
  .feedback .feed-icons{
    font-size: 0rem;
  }
  .feedback{
    text-align: center;
    color: rgb(169, 169, 169);
    font-family: 'Montserrat Alternates', sans-serif;
  margin-top: 2rem;
  }
  .feedback h2{
    margin-bottom: 4rem;
    margin-top: 3.5rem;
    font-weight: 600;
    color: aliceblue;
  }
}

/* Fun */
.fun-page h2{
  font-weight: 600;
  margin-bottom: 1rem;
}
.fun-page h4{
  font-weight: 500;
}

.card:hover{
  box-shadow: 0 0 2rem 0.01rem rgb(255, 255, 255);
  background-color: transparent;
  --bs-border-width: 0rem;
  border-radius: var(--bs-card-border-radius);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-border-radius: 5%;
  
}
.card {
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-border-color-translucent: rgb(0, 0, 0);
  --bs-border-width: 0rem;
  border-radius: var(--bs-card-border-radius);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-border-radius: 5%;
}
.cardChanges{
  font-size: 1.2rem;
  color: aliceblue;
  z-index: 0;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.fun-page .rowChanges{
align-items: center;
justify-content: center;
}

.fun-page{
  margin-top: 1.5rem;
  padding-top: 1rem;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  .fun-page{
    /* margin-top: 2%; */
    margin-top: 8%;
    margin-bottom: 12%;
  }
  .fun-page .head-fun{
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .fun-page .rowChanges{
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 1rem;
    }
}


/* Styles for screens with a minimum width of 768px and maximum width of 1200px */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .fun-page .cardChanges {
    justify-content: center;
    align-items: center;
    margin: 2% 2% 2% 2%;
  }
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .fun-page .cardChanges {
    justify-content: center;
    align-items: center;
    margin: 4%;
  }
}

@media screen and (min-width: 300px) and (max-width: 574px) {
  .fun-page .cardChanges {
    justify-content: center;
    align-items: center;
    margin: 4% 6% 4% 6%;
  }
}

.card h5{
  font-size: 1.8rem;
  font-weight:bold
}
.card p{
  color:rgb(165, 165, 165);
}

.tech-fun{
  text-align: center;
  font-size: 2rem;
  color: rgb(180, 180, 180);
  margin-bottom: 3rem;
}

/* .btn .btn-card{
  color: aliceblue;
  border-width: 0;
  background-color: rgb(117, 117, 117);
  width:fit-content;
  background-color: transparent;
  border-color: transparent;
  background-image:linear-gradient(to right,rgb(34, 34, 34), #7a7a7a,rgb(34, 34, 34)) ;

} */

.btn-card:hover{
  border-width: 0;
  border-color: transparent;
  box-shadow: 0 0 1.5rem 0.1rem aliceblue;
}
